

    /*-----------  responsive  -----------*/ 
@media screen and (max-width: 1550px) {
  .years {right: 115px;}

}
@media screen and (max-width: 1400px) {
  .years {right: 50px;}
  .assistance {background-position: center;}
}
@media screen and (max-width: 1360px) {


}
@media screen and (max-width: 1300px) {
  .years {right: 20px;}

}
@media screen and (max-width: 1200px) {
  .bottom_header .container {
    padding-right: 0;
    padding-left: 0; }
  .bottom_header ul li {
    padding: 18px 2px; }
  .head-logo {
    max-width: 340px; }
  .head-logo a:after {
    right: 20px;
    top: 9px; }
  .head-phone {
    margin: 0 10px; }
  .time-work img {
    margin-right: 10px; }
  .header button {
    margin-left: 0;
    padding: 12px 13px; }
  .header .phone-line a {
    font-size: 17px;
    line-height: 1;
    letter-spacing: .4px; }
  .types {
    margin-top: -65px;
    margin-left: calc( 50% - 485px); }
  .slide-caption button {
    margin-top: 40px;
    padding: 18px 38px; }
  .main .text-wrapper {
    max-width: 490px; }
  .slide-caption {
    top: 50%;
    left: 18%; }
  .main .owl-dots {
    bottom: 80px; }
  .about .cover_block {
    margin-top: 105px; }
  .about .btn-about {
    margin-top: 30px;
    padding: 20px 45px; }
  .order-top {
    overflow: hidden; }
  .box-order h4 {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 40px; }
  .box-order {
    margin-right: 30px;
    min-height: 335px;
    max-width: 360px;
    background-size: inherit; }
  .news-item {
    padding: 35px 30px; }
  .menu-footer li {
    margin-bottom: 8px; }
  h1 {
    font-size: 45px;
    line-height: 50px;
    margin: 18px 0 20px; } 

  .text-wrap {
      max-width: 46%;
      padding-left: 40px;}
  .plastic-order .box-order,
  .plastic-order .box-order:nth-child(2n+1),
  .plastic-order .box-order:nth-child(3n+1),
  .plastic-order .box-order:nth-child(4n+1) {
    margin-right: 18px;}
  .new-windows .col__step {
      background-position: center;}
  .new-windows .cover_block {
      padding: 110px 0 60px;}
  .col__step {
      width: 47%;
      margin: 0 1.5% 70px 1.5%;}
  .assistance-windows {
      background-image: url(../images/assistance2.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;}
  .assist-left { padding-right: 40px;}
  .box-icon {padding: 45px 12px 45px 14px;}
  .box-icon img {margin-right: 15px;}
  #cssmenu ul {
      width: 100%;
      display: none;
      position: absolute;
      z-index: 99;
      background-color: #fff;
      text-align: center;
      width: 100%;}
  #cssmenu ul ul{text-align: center;}
  .col__step {
    background-position: 40%;}
  .col__step:nth-child(2n+1),
  .col__step:nth-child(2n),
  .col__step:nth-child(3n),
  .col__step:nth-child(3n+1),
  .col__step{
    margin-bottom: 30px;
    max-height: 400px;
    min-height: 395px;}
  .col__step-text {
      overflow: hidden;
      padding: 24px 4px 35px 25px;}
  .box-order-wh .box-order:nth-child(3n+1),
  .box-order-wh .box-order:nth-child(2n+1),
  .box-order-wh .box-order {
    width: 32%;
    margin-right: 2%;
    max-width: 360px;}
  .box-order-wh .box-order:nth-child(3n){
    margin-right: 0;}
  .box-order-wrap{
    margin: 0 auto;
    width: 95%;}
  .heat h2 {max-width: 57%;}
  .heat img {max-width: 730px;}
  .plastic-order .box-order {
    width: 47%;
    float: left;
    margin: 20px 0 0 2%;}
  .plastic-order .center-img {
    margin: 0 auto 20px;
    text-align: center;
    min-height: 130px;}
  .plastic-order .box-order h4 {
    max-width: 90%;}
  .plastic-order .box-order {
    min-height: 390px;
    max-width: 460px;}
  .plastic-order .box-order,
  .plastic-order .box-order:nth-child(2n+1),
  .plastic-order .box-order:nth-child(3n+1),
  .plastic-order .box-order:nth-child(4n+1){
    margin-right: 0;}
  .bottom_header {
    background-color: #fff;
    min-height: 48px;}
  .decoration-windows .order-bottom a {
    padding-left: 20px;}
  .decoration-windows .box-order h4 {
    max-width: 95%;}
  .decoration-windows .order-top {
    padding: 0 0 20px;
    background-position: bottom;
    min-height: 291px;}
  .decoration-windows .price {
    margin-top: 80px;
    margin-left: 6px;}
  .decoration-windows .cover_block {
    padding: 85px 0 100px;}
  .one-click .cover_block {
    padding: 115px 0 120px;}
  #new-blinds .col__step:nth-child(2n+1),
  #new-blinds .col__step:nth-child(2n),
  #new-blinds .col__step:nth-child(3n),
  #new-blinds .col__step:nth-child(3n+1),
  #new-blinds .col__step {
      margin-bottom: 30px;
      max-height: 100%;
      min-height: auto;
      width: 75%;
      margin: 0 auto 25px 12.5%;
      display: block;
      background-size: contain;
      background-position: right;}
  .assistance-blinds input {
    padding: 20px;
    min-height: 60px;
    max-width: 100%;
    font-size: 15px;
    margin: 0 auto 12px;
    display: block;}
  #icons-blinds .box-icon {
    min-height: 140px;
    padding: 35px 12px 36px 14px;
    min-height: 180px;}
  .main-text .bottom-text {
    margin: 125px auto 90px;}









}

@media screen and (max-width: 1000px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none; }
  .logo2 {
    display: none; }
  nav {
    width: 100%; }
  #cssmenu {
    width: 100%; }
  #cssmenu ul {
    width: 100%;
    display: none; }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #fff2de; }
  #cssmenu ul li:hover {
    background: #c15823 !important; }
  #cssmenu ul li:hover a {
    color: #fff; }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto; }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0; }
  #cssmenu > ul > li {
    float: none; }
  #cssmenu ul ul li a {
    padding-left: 25px; }
  #cssmenu ul ul li {
    background: #c15823 !important; }
  #cssmenu ul ul li:hover {
    background: #c15823 !important; }
  #cssmenu ul ul ul li a {
    padding-left: 35px; }
  #cssmenu ul ul li a {
    color: #ddd;
    background: none; }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #fff; }
  #cssmenu ul ul, #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left; }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none; }
  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700; }
  .bottom_header .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 123999; }
  .bottom_header .button:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #c15823;
    border-bottom: 2px solid #c15823;
    content: ''; }
  .bottom_header .button:before {
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #c15823;
    content: ''; }
  .bottom_header .button.menu-opened:after {
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #c15823;
    transform: rotate(45deg); }
  .bottom_header .button.menu-opened:before {
    top: 23px;
    background: #c15823;
    width: 19px;
    height: 2px;
    transform: rotate(-45deg); }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    height: 46px;
    width: 46px;
    cursor: pointer; }
  #cssmenu .submenu-button.submenu-opened {
    background: #c15823; }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px; }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: ''; }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px; }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff; }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: ''; }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px; }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none; }
  #cssmenu ul ul ul li.active a {
    border-left: none; }
  #cssmenu > ul > li.has-sub > ul > li.active > a,
  #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;} 
  #cssmenu ul ul{text-align: center;}
  #cssmenu .submenu-button {
      right: 13px;}
}

@media screen and (max-width: 992px) {
  .types {
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    position: relative; }
  .about .cover_block {
    margin-top: 0; }
  .cover_block {
    padding: 60px 0 70px; }
  .main .owl-dots {
    bottom: 10px; }
  .head-logo span {
    display: none; }
  .head-logo a:after {
    content: none; }
  .head-logo img {
    width: 110px;
    margin-top: -10px; }
  .head-logo {
    max-width: 100%;
    -ms-flex-direction: column;
        flex-direction: column; }
  .head-city {
    margin: 0 10px; }
  .box-order {
    width: 50%;
    max-width: 360px; }
  .box-order:nth-child(3n+1) {
    margin-right: 30px; }
  .box-order:nth-child(2n+1) {
    margin-right: 0; }
  h2 {
    margin-bottom: 30px; }
  .menu-footer {
    width: 95%; }
  .menu-footer li {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%; }
  .footer-logo {
    margin-bottom: 30px; }
  footer .choice {
    padding: 0; }
  footer button {
    font-size: 12px;
    line-height: 16px;
    padding: 15px 18px; }
  h1 {
    font-size: 36px;
    line-height: 40px; }
  .box-manufacturers img {
    max-width: 107px; }
  .icon-partner {
    width: 100%;
    height: auto;
    min-height: 110px;
    line-height: 55px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .box-manufacturers {
    min-height: 100%;
    line-height: 1;
    padding: 20px; }

  .bottom-text {
      margin: 130px auto 0;}
  .text-wrap p {font-size: 17px;}
  .plastic-page .breadcrumbs-inner .breadcrumbs span {
    padding: 13px 13px;}
  .text-wrap {
      max-width: 46%;
      padding-left: 25px;}
  .col-img-about{
    margin-bottom: 10px;}
  .about .col-img-about h6 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;}
  .plastic-page .about {
      padding: 20px 0 70px;}
  .counters {
      background-image: url(../images/girl.png);
      background-repeat: no-repeat;
      background-position: 60%;
      background-size: cover;}
  .plastic-order .box-order,
  .plastic-order .box-order:nth-child(2n+1),
  .plastic-order .box-order:nth-child(3n+1),
  .plastic-order .box-order:nth-child(4n+1) {
      margin-right: 0;}
  .plastic-order .box-order {
      width: 47%;
      float: left;
      margin: 20px 2%;}
  .new-windows .col__step {
      width: 47%;
      margin: 0 1% 70px 2%;}
  .new-windows .cover_block {
      padding: 100px 0 30px;}
  .assistance-windows h5 {
      font-size: 32px;
      line-height: 34px;
      margin-top: 30px;}
  .assistance-windows h6 {
      margin-top: 30px;}
  .assist-right {
      padding: 30px 15px 38px 15px;}
  .assistance-windows h6 img {
      margin-left: 75px;}
  .assistance-windows .indikator {
      margin-top: 35px;}
  .box-icon {
    min-height: 220px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;}
  .box-icon img{margin-bottom: 15px;}
  .about-page .main-page {
      background-position: center;
      padding: 81px 0 125px;}
  .years {
      width: 92px;
      height: 140px;
      background-position: top;
      background-size: contain;
      top: 0;}
  .about-page .about .cover_block {
      padding-bottom: 40px;
      padding-top: 80px;}
  .counter-item {
      margin-bottom: 20px;}
  .about-page .counters .percent,
  .about-page .counters .counter {
      font-size: 68px;}
  .manufacturers-page .cover_block {
      padding: 85px 0 70px;}
  .col__step:nth-child(2n+1),
  .col__step:nth-child(2n),
  .col__step:nth-child(3n),
  .col__step:nth-child(3n+1),
  .col__step {
      margin-bottom: 30px;
      max-height: 330px;
      min-height: 330px;
      width: 90%;
      margin: 0 auto 25px 5%;
      display: block;}
  .warranty .right-img img {
    max-width: 350px;}
  .years-warranty {
      position: absolute;
      top: 0;
      right: 9px;}
  .years-warranty {
      width: 130px;
      height: 130px;
      background-image: url(../images/warranty.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;}
  .box-order-wh .box-order:nth-child(3n+1),
  .box-order-wh .box-order:nth-child(2n+1),
  .box-order-wh .box-order {
      width: 47%;
      margin-right: 3%;
      max-width: 360px;}
  .box-order-wh .box-order:nth-child(2n){
    margin-right: 0;}
  .box-order-wrap {
      margin: 0 auto;
      width: 98%;
      padding-left: 2%;}
  .assistance input {
      padding: 20px;
      min-height: 60px;
      max-width: 70%;
      margin: 0 auto 12px;
      display: block;}
  .assistance .message {width: 87%;}
  .assistance {background-position: 62%;}
  .assistance blockquote {
      padding: 30px 30px;}
  .assistance blockquote h5 {
      line-height: 30px;
      font-size: 32px;
      margin-bottom: 12px;}
 .assistance input[type="checkbox"]:checked,
 .assistance input[type=checkbox]{
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    padding: 10px;}
  .box-order h4 {max-width: 64%;}
  .plastic-order .box-order {
    width: 47%;
    float: left;
    margin: 20px 0 0 2%;}
  .more-information h4 {
    font-size: 23px;
    line-height: 27px;}
  .plastic-page .new-windows .col__step-text p {
    max-width: 83%;
    font-size: 16px;
    line-height: 21px;}
  .assistance-windows input {
      padding: 20px;
      min-height: 60px;
      max-width: 90%;
      margin: 0 auto 12px;}
  .assistance-windows .policy {
    width: 90%;
    margin: 0 auto;}
  .assistance-windows h6 {
    text-align: left;}
  .assistance-windows h6 img {
    margin-left: 104px;}
  .icons-footer .box-icon h6 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;}
  .icons-footer .icon-wrap{min-height: 60px;}
  .assistance-windows {
    background-position: left;}
  .plastic-page .bottom-text {
    margin: 70px auto 0;}
  .plastic-page .main-page {
    padding: 45px 0 51px;}
  .breadcrumbs-inner .breadcrumbs span {
    font-size: 14px;}
  .plastic-page .main-page h1 {
    margin-top: 50px;}
  .plastic-page .counters .cover_block {
    padding: 90px 0 130px;}
  .more-information h4 {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 23px;}
  .assistance-blinds input {
    padding: 20px;
    min-height: 60px;
    max-width: 100%;
    font-size: 15px;
    margin: 0 auto 12px;
    display: block;}
  .assistance-blinds .policy {
    width: 96%;
    margin: 0 auto;}
  #icons-blinds .box-icon {
    min-height: 140px;
    padding: 35px 12px 36px 14px;
    min-height: 180px;}











}

@media screen and (max-width: 768px) {
  header .head-phone {
    display: none; }
  .slide-caption button {
    margin-top: 20px;
    padding: 12px 29px; }
  .slide-caption {
    top: 50%;
    left: 14%; }
  .main .text-wrapper {
    max-width: 360px; }
  h2 {
    margin-bottom: 20px;
    font-size: 29px;
    line-height: 40px; }
  .about .btn-about {
    margin-top: 10px; }
  .cover_block {
    padding: 50px 0 60px; }
  .box-order {
    width: 47%;
    max-width: 310px; }
  .order {
    padding: 0 15px 0 30px; }
  .news .cover_block {
    padding-bottom: 70px; }
  .menu-footer li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  .footer-logo,
  .phone-line,
  footer .adres,
  footer .choice {
    text-align: center; }
  .menu-footer {
    width: 40%;
    padding-left: 6%; }
  .menu-footer {
    -ms-flex-align: start;
        align-items: flex-start;
    -ms-flex-direction: column;
        flex-direction: column; }
  .footer-top .choice {
    margin-top: 20px; }
  .footer-top .choice p {
    width: 45%;
    margin: 0 auto; }
  footer button {
    margin-top: 20px; }
  .footer-top {
    margin-bottom: 50px; }
  .footer-logo {
    margin-bottom: 20px; }
  footer .footer-bottom .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column;
    text-align: center; }
  footer .social-networks li {
    margin-right: 10px; }
  .box-order h4 {
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 40px; }
  .years {
      width: 78px;
      height: 90px;
      background-position: top right;
      background-size: contain;
      top: 0;
      right: 0;}
  .counters .counter-text {
    margin-bottom: 25px;}
  .counter-item {margin-bottom: 15px;}
  .col__step-text {
      overflow: hidden;
      padding: 24px 40px 35px 25px;}
  .steps .cover_block {
    padding: 90px 0 55px;}
  .box-order-wrap {
    margin: 0 auto;
    width: 100%;
    padding-left: 0;}
  .assistance {
    background-position: left;}
  .assistance blockquote:before {
      content: none;}
  .assistance .message {
      width: 90%;
      margin: 0 auto;}
  .indikator p {
      font-size: 14px;
      text-align: center;}
  .assistance h6 {
    text-align: center;}
  .policy {
    padding-left: 25px;}
  .heat h2 {max-width: 76%;}
  .heat img {max-width: 90%;}
  .col-img-about {
    margin-bottom: 20px;
    width: 50%;}
  .about .col-img-about h6 {
    margin-top: 12px;}
  .plastic-page .counter-text {
    max-width: 100%;
    text-align: center;}
  .plastic-page .counter-item {
    margin-bottom: 5px;
    text-align: center;}
  .plastic-order .box-order h4 {
    margin-bottom: 16px;}
  .col-text-information {
    text-align: left;
    padding-left: 100px;}
  .assistance-windows .assist-right {
    width: 80%;
    margin-left: 10%;}
  .assistance-windows h5,
  .assistance-windows .assistance h6,
  .assistance-windows .assist-left p {
    text-align: center;}
  .assistance-windows h6 img{display: none;}
  .assistance-windows .indikator,
  .assistance-windows h6 {
    margin-top: 12px;}
  .col-icon-footer {
    width: 60%;
    margin: 0 auto 20px 20%;}










}

@media screen and (max-width: 650px) {
  .main p {
    font-size: 15px;
    line-height: 20px; }
  .main .text-wrapper {
    max-width: 320px; }
  h1 {
    font-size: 30px;
    line-height: 32px;
    margin: 15px 0; }
  .slide-caption button {
    margin-top: 20px;
    font-size: 13px;
    padding: 10px 25px;
    text-transform: none; }
  .slide-caption {
    top: 50%;
    left: 13%; }
  .col-type {
    text-align: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    min-height: 95px;
    margin-top: 12px; }
  .types .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .types h6 {
    margin-top: 13px; }
  .types {
    padding: 35px 30px; }
  .about p {
    margin-bottom: 20px; }
  .box-order {
    min-height: 320px;
    background-size: 150px;
    background-position: 122% 62%; }
  .box-order h4 {
    margin-top: 18px;
    margin-left: 15px;
    margin-bottom: 35px; }
  .manufacturers p {
    padding-left: 15px;
    padding-right: 15px; }
  #cssmenu > ul > li {
    padding-left: 30px; } 
  .counters .cover_block {
    padding: 75px 0 70px;}
  .about-page .counters .percent,
  .about-page .counters .counter,
  .counters .percent,
  .counters .counter {
      font-size: 60px;}
  .counter-item {margin-bottom: 8px;}
  .col__step:nth-child(2n+1),
  .col__step:nth-child(2n),
  .col__step:nth-child(3n),
  .col__step:nth-child(3n+1),
  .col__step {
      margin-bottom: 30px;
      max-height: 330px;
      min-height: 330px;
      width: 95%;
      margin: 0 auto 25px 2.5%;}
  h4 {font-size: 20px; margin-bottom: 10px;}
  .col__step-line {
    margin-bottom: 10px;}
  .warranty .cover_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;}
  .warranty .right-img {
      text-align: center;}
  .years-warranty {
    right: 65px;}
  .warranty .cover_block h2 {
      line-height: 39px;
      margin-top: 20px;
      text-align: center;}
  .box-order-wh .box-order:nth-child(3n+1),
  .box-order-wh .box-order:nth-child(2n+1),
  .box-order-wh .box-order {
    width: 80%;
    margin-right: 0;
    max-width: 100%;
    margin: 0 auto 20px 10%;
    min-height: 290px;
    background-size: contain;}
  .box-order h4 {max-width: 90%;}
  .assistance h6 img{display: none;}
  .assistance {
      background-position: 62%;
      padding-right: 130px;}
  .assistance blockquote {
      background-color: transparent;
      position: relative;
      border-radius: 6px;
      padding: 44px 55px;
      box-shadow: none;
    margin-bottom: 10px;
    padding: 0;}
  .indikator p {
      font-size: 14px;
      text-align: left;
      padding-left: 20px;}
  .assistance input {
      padding: 20px;
      min-height: 60px;
      max-width: 70%;
      margin: 0 0 12px;
      display: block;}
  .assistance .policy {
    color: #000;
    font-size: 12px;
    line-height: 18px;
    padding-left: 0;
    width: 80%;
    margin: 0;}
  .assistance input[type=submit] {
    font-size: 15px;}
  .heat h2 {
    max-width: 80%;
    text-align: center;
    margin: 0 auto 15px;}
  .plastic-page .main-page {
    padding: 34px 0 35px;}
  .text-wrap .btn {
    margin-top: 25px;
    padding: 15px 35px;
    font-size: 15px;
    letter-spacing: .1px;
    height: auto;
    min-height: auto;}
  .text-wrap p {
    font-size: 16px;
    line-height: 23px;}
  .plastic-page .bottom-text {
    margin: 50px auto 0;}
  .bottom-text:before {
    top: -30px;}
  .plastic-page .breadcrumbs-inner .breadcrumbs span {
    padding: 12px 13px;
    font-size: 13px;
    margin: 0 14px;}
  .about .col-img-about h6 {
    font-size: 17px;}
  .plastic-page .about {
    padding: 20px 0 40px;}
  .plastic-page .counters .cover_block {
    padding: 70px 0 80px;}
  .plastic-order .cover_block {
    padding: 80px 0 70px;}
  .col-text-information {
    text-align: left;
    padding-left: 105px;}
 .plastic-information .cover_block {
    padding: 60px 0 50px;}
  .more-information .btn-more {
    margin-top: 22px;
    padding: 17px 31px;}
  .assistance-windows{
    background-position: left;
    padding-right: 0;}
  .assistance-windows input {
    padding: 20px;
    min-height: 60px;
    max-width: 100%;
    margin: 0 0 12px;
    display: block;}
  .assistance-windows .policy {
    width: 100%;
    margin: 0;}
  .assistance-windows .indikator,
  .assistance-windows h6 {
    margin-top: 7px;}
  .assistance-windows h5 {
    font-size: 27px;
    line-height: 30px;
    margin-top: 20px;}
  .bottom-text p{
    font-size: 16px;
    line-height: 24px;}
  .more-information h4 {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 19px;}







}

@media screen and (max-width: 600px) {
  header .time-work {display: none; }
  .box-manufacturers img {
    max-width: 180px;
    margin: 0 auto;}
  .col__step:nth-child(2n+1),
  .col__step:nth-child(2n),
  .col__step:nth-child(3n),
  .col__step:nth-child(3n+1),
  .col__step {
      background-position: 30px;}
  .box-order-wh .box-order:nth-child(3n+1),
  .box-order-wh .box-order:nth-child(2n+1),
  .box-order-wh .box-order {
      width: 70%;
      margin-right: 0;
      max-width: 100%;
      margin: 0 auto 20px 15%;
      min-height: 240px;
      background-size: contain;}



}
@media screen and (max-width: 580px) {
  .plastic-page .bottom-text {
    margin: 45px auto 0;
    padding: 0 15px;}




}
@media screen and (max-width: 550px) {
  .order {padding: 0px 10px 0 15px; }
  .box-order {
      width: 46%;
      max-width: 310px;}
  footer .phone-line {margin-bottom: 10px;}
  .footer-logo {margin-bottom: 15px;}
  .menu-footer {padding-top: 20px;}
  .about .btn-about {
      margin-top: 30px;
      padding: 16px 38px;}
  .col-type:nth-child(2n) {border: none;}   
  .box-order-wh .box-order:nth-child(3n+1), .box-order-wh .box-order:nth-child(2n+1), .box-order-wh .box-order {
      width: 75%;
      margin-right: 0;
      max-width: 100%;
      margin: 0 auto 20px 12.5%;
      min-height: 240px;
      background-size: contain;}
  .order h2 {
      margin-bottom: 20px;}
  .assistance input {
    padding: 17px;
    min-height: 55px;
    max-width: 85%;}
  .policy .checkbox-text a{margin-left: 2px;}
  .policy .checkbox-text a,
  .policy .checkbox-text {
      color: #b0b0b0;
      margin-left: 10px;
      font-size: 13px;}
  .plastic-page .main-page {
    padding: 30px 0;
    background-position: 46% 38%;}
  .plastic-order .box-order,
  .plastic-order .box-order:nth-child(2n+1),
  .plastic-order .box-order:nth-child(3n+1),
  .plastic-order .box-order:nth-child(4n+1),
  .plastic-order .box-order {
    float: none;
    margin: 20px 0 0 2%;
    width: 90%;
    float: none;
    margin: 0 auto 20px;
    min-height: auto;
    max-height: 100%;
    padding: 20px 0 35px;}
  .plastic-order .order-top {
    padding: 10px 20px 20px;}








}

@media screen and (max-width: 515px) {
  .box-order,
  .box-order:nth-child(3n+1),
  .box-order:nth-child(2n+1) {
    width: 80%;
    max-width: 100%;
    float: none;
    margin-right: 0;
    margin-left: 0;
    margin: 0 auto 20px; }
  .slide-caption button {
      margin-top: 5px;
      font-size: 13px;
      padding: 7px 20px;
      text-transform: none;}
  .main .owl-dots {
      bottom: 5px;
      padding: 0 15px;
      width: auto;}
  .box-order, .box-order:nth-child(3n+1), .box-order:nth-child(2n+1) {
      padding-bottom: 100px;
      min-height: auto;
      padding-top: 20px;}
  .slide-caption {
      top: 50%;
      left: 12%;}
  h1 {
      font-size: 25px;
      line-height: 25px;
      margin: 10px 0;}
  .main p {
      font-size: 15px;
      line-height: 17px;}
  .slide-caption button {
      margin-top: 5px;
      font-size: 13px;
      letter-spacing: 0;
      padding: 6px 17px;
      text-transform: none;}
  .types {
      padding: 30px 22px;}
  h2 {
      margin-bottom: 15px;
      font-size: 26px;
      line-height: 32px;}
  .cover_block {
      padding: 25px 0 32px;}
  .about .cover_block {
      padding-bottom: 50px;}
  .order .cover_block {
      padding-top: 70px;}
  .row-manufacturers {
      margin-top: 30px;}
  .manufacturers .cover_block {
      padding: 45px 0 32px;}
  footer {padding-top: 50px;}
  .menu-footer {
      width: 50%;
      padding-left: 3%;}
  .footer-top {
      margin-bottom: 40px;}
  .top_header{display: none;}
  .mobile-add-menu {
      display: block;
      display: flex;
      float: left;
      line-height: 46px;
      margin-left: 30px;}
   .bottom_header .button {
      width: 55px;
      height: 46px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 123999;
      float: right;}
  #cssmenu ul {
      width: 100%;
      display: none;
      position: absolute;
      z-index: 99;
      background-color: #fff;}
  #cssmenu ul ul,
  #cssmenu ul ul:hover{
    left: -10px;
    top: 14px;  }
  .head-logo,
  .head-city{z-index: 2;}
  
}

@media screen and (max-width: 500px) {
  .main .text-wrapper {
      max-width: 270px;}
  .slide-caption {
      top: 50%;
      left: 8%;}
  .about-page .counters .percent,
  .about-page .counters .counter,
  .counters .percent,
  .counters .counter {
      font-size: 48px;}
  .counters .cover_block {
    padding: 67px 0 45px;}
  .counters .counter-text {
    margin-bottom: 22px;
    font-size: 17px;}
  .col__step:nth-child(2n+1),
  .col__step:nth-child(2n),
  .col__step:nth-child(3n),
  .col__step:nth-child(3n+1),
  .col__step {
    max-height: 100%;
    width: 96%;
    margin: 0 auto 25px 2%;
    min-height: auto;
    background-position: 12px;}
  .col__step-text {
      overflow: hidden;
      padding: 24px 0 35px 25px;
      width: 72%;}
  .years-warranty {
    right: 30px;}
  .assistance .policy {
    width: 100%;}
  .assistance {
    background-position: 67%;
    padding-right: 101px;}
  .heat h2 {
    max-width: 90%;
    text-align: center;
    margin: 0 auto 15px;
    line-height: 32px;}
  .text-wrap {
    max-width: 57%;
    padding-left: 16px;}
  .plastic-page .main-page {
    padding: 30px 0;
    background-position: 46% 40%;}
  .plastic-page .counters .cover_block {
    padding: 60px 0 65px;}
  .plastic-page .counters .percent {
    font-size: 27px;}
  .counters .counter-text {
    margin-bottom: 17px;
    font-size: 16px;}



}
@media screen and (max-width: 480px) {
  .bottom_header ul li {
      padding: 13px 2px;}
  .main .owl-carousel .owl-item img {
      display: block;
      width: 109%;
      max-width: 109%;}
  h1 {
      font-size: 23px;
      line-height: 25px;
      margin: 10px 0;}
  footer .social-networks li {
      margin-right: 10px;
      height: auto;
      min-height: auto;
      line-height: 1;
      padding: 0;}
  .about .btn-about {
      margin-top: 12px;
      padding: 13px 33px;}
  .plastic-page .counters .cover_block {
    padding: 50px 0 40px;}
  .col-text-information {
    text-align: left;
    padding-left: 70px;}
  .more-information ul li {
    font-size: 16px;
    margin-bottom: 10px;}
  .assistance-windows{
    background-position: left;
    padding-right: 0;}
  .assistance-windows input {
    padding: 17px;
    min-height: 55px;
    max-width: 100%;
    min-height: 50px;}
  .assistance-windows .policy .checkbox-text a,
  .assistance-windows .policy .checkbox-text {
    margin-left: 7px;
    font-size: 11px;}
  .col-icon-footer {
    width: 80%;
    margin: 0 auto 20px 10%;}




}


@media screen and (max-width: 450px) {
  .news .cover_block {
      padding-bottom: 45px;}
  .col-type img{min-height: 39px;}
  .news .cover_block {
      padding-top: 40px;}
  .breadcrumbs-inner .breadcrumbs span {
    font-size: 13px;
    padding: 12px 16px;
    margin: 0 15px;}
  .about-page .main-page h1 {
    font-size: 30px;
    margin-top: 40px;}
  .about-page .main-page {
    background-position: center;
    padding: 50px 0 125px;}
  .about-page .about .cover_block {
    padding-bottom: 26px;
    padding-top: 57px;}
  .manufacturers-page .row-manufacturers {
    margin-top: 45px;}
  .col__step:nth-child(2n+1),
  .col__step:nth-child(2n),
  .col__step:nth-child(3n),
  .col__step:nth-child(3n+1),
  .col__step {
      max-height: 100%;
      width: 96%;
      margin: 0 auto 25px 2%;
      min-height: auto;
      background-position: 28%;
      background-size: auto;}
  .steps .cover_block {
      padding: 80px 0 38px;}
  .warranty .right-img img {
    max-width: 285px;}
  .counters .counter-text {
    margin-bottom: 22px;
    font-size: 17px;
    max-width: 60%;}
  .counters {
    background-image: url(../images/girl.png);
    background-repeat: no-repeat;
    background-position: 68%;
    background-size: cover;}
  .plastic-page .main-page {
    padding: 30px 0;
    background-position: 46% 32%;}
  .bottom-text:before {
    content: none;}
  .plastic-counters h2{
    margin-bottom: 15px;
    font-size: 26px;
    line-height: 32px;
    text-align: left;
    padding-left: 28px;}
  .plastic-counters .counter-text {
    margin-bottom: 22px;
    font-size: 16px;
    max-width: 60%;
    text-align: left;}
  .plastic-counters .counter-item {
    margin-bottom: 5px;
    text-align: left;}
  .plastic-order .cover_block {
    padding: 70px 0 45px;}
  .assistance-windows .assist-right {
    width: 95%;
    margin-left: 2.5%;}
  .assist-left {
    padding-right: 0;
    padding-left: 0;}
  .box-icon {
    min-height: auto;}






}
@media screen and (max-width: 419px) {

  .owl-dots {
      width: 100px;
      height: 22px;
      text-align: center;
      line-height: 22px;
      bottom: 119px;
      left: calc( 100% - 95px);
      position: absolute;
      border-radius: 11px;
      background-color: rgba(0, 0, 0, 0.05);}
  h1 {
      font-size: 23px;
      line-height: 25px;
      margin: 7px 0;}
  .main .owl-carousel .owl-item img {
      display: block;
      width: 125%;
      max-width: 125%;}
    .main .slide-caption {
      top: 50%;
      left: 5%;}
  .types {
      padding: 25px 22px;}
  h2 {
      margin-bottom: 13px;
      font-size: 24px;
      line-height: 29px;}
  .about p,
  p {
      font-size: 15px;
      line-height: 22px;}
  .about .btn-about {
      margin-top: 12px;
      padding: 12px 30px;
      font-size: 13px;}
  .order .cover_block {
      padding-top: 50px;}
  .order h2{margin-bottom: 20px;}
  .box-order h4 a,
  .box-order h4 {
      font-size: 21px;
      line-height: 25px;}
  #manufacturers h2{
    padding-left: 15px;
    padding-right: 15px;}
  .menu-footer {
      width: 60%;
      padding-left: 3%;}
  .footer-top .choice p {
      width: 58%;
      margin: 0 auto;}
  .types h6 {
      margin-top: 11px;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;}
  .menu-footer {
      margin: 15px auto 0;}
  .col__step-text p {
    max-width: 90%;
    font-size: 15px;
    line-height: 19px;}
  .box-order-wh .box-order:nth-child(3n+1),
  .box-order-wh .box-order:nth-child(2n+1),
  .box-order-wh .box-order {
      width: 96%;
      margin-right: 0;
      max-width: 100%;
      margin: 1px auto 20px 2%;
      min-height: 250px;
      background-size: contain;}
  .indikator p,
  .assistance blockquote p,
  .assistance blockquote h5,
  .assistance h6 {
      padding-left: 0;
      text-align: center;}
  .assistance {
    background-position: center;
    padding-right: 0;}
  .assistance input {
    padding: 17px;
    min-height: 55px;
    max-width: 95%;
    margin: 0 auto 12px;}
  .plastic-page .main-page {
    padding: 30px 0;
    background-position: 43% 33%;
    background-size: 417%;
    background-repeat: repeat;}
  .plastic-page .text-wrap {
    max-width: 64%;
    padding-left: 16px;}
  .plastic-page .breadcrumbs-inner .breadcrumbs span {
    padding: 11px 12px;
    font-size: 12px;
    margin: 0 9px;}
  .plastic-page .bottom-text {
    margin: 35px auto 0;
    padding: 0 15px;}
  .col-img-about {
    margin-bottom: 20px;
    width: 80%;
    margin: 0 auto 17px 10%;}
  .plastic-page .counters .cover_block {
    padding: 45px 0 10px;}
  .plastic-counters {
    background-image: url(../images/girl.png);
    background-repeat: no-repeat;
    background-position: 66%;
    background-size: cover;}
  .plastic-order h2{margin-bottom: 23px;}
  .col-text-information {
    text-align: left;
    padding-left: 40px;}
  .plastic-information h2:before {
    top: -20px;}
  .more-information ul {
    padding-left: 25px;}
  .more-information .btn-more {
    margin-top: 17px;
    padding: 17px 31px;}
  .new-windows .cover_block {
    padding: 65px 0 30px;}







}
@media screen and (max-width: 380px) {
  .main .slide-caption {
      top: 53%;
      left: 2%;}
  footer .city-adr {
      display: inline-block;}
  .menu-footer {
      -ms-flex-align: center;
      align-items: center;}
  .menu-footer {
      width: 85%;
      padding-left: 0;
      text-align: center;}
  .menu-footer li {
      margin-bottom: 5px;}
  footer button {
      font-size: 12px;
      line-height: 16px;
      padding: 12px 25px;}
  .footer-top .choice p {
      width: 80%;
      margin: 0 auto;}
  .footer-top {
      margin-bottom: 30px;}
  .about-page .counters .percent,
  .about-page .counters .counter,
  .counters .percent,
  .counters .counter {
      font-size: 43px;}
  .counters .counter-text {
    margin-bottom: 20px;
    font-size: 16px;
    max-width: 62%;
    line-height: 20px;}
  .col__step:nth-child(2n+1),
  .col__step:nth-child(2n),
  .col__step:nth-child(3n),
  .col__step:nth-child(3n+1),
  .col__step {
      max-height: 100%;
      width: 96%;
      margin: 0 auto 25px 2%;
      min-height: auto;
      background-position: bottom right;
      background-size: 56%;}
  .col__step-text {
    overflow: hidden;
    padding: 24px 0 35px 25px;
    width: 85%;}
  .bottom-text p,
  .text-wrap p {
    font-size: 15px;
    line-height: 21px;}
  .text-wrap .btn {
    padding: 14px 29px;}
  .plastic-counters {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
  .plastic-counters .counter-text,
  .plastic-counters .counter-item {
    margin-bottom: 5px;
    width: 100%;
    max-width: 100%;
    text-align: center;}
  .plastic-page .counters .cover_block {
    padding: 50px 0 52px;}
  .col-text-information {
    text-align: left;
    padding-left: 24px;}
  .new-windows .col__step-text {
    overflow: hidden;
    padding: 30px 7px 35px 17px;}
  .new-windows .col__step-text {
    width: 88%;}
  .assistance-windows input {
    padding: 17px;
    min-height: 55px;
    max-width: 100%;
    margin: 0 auto 12px;}
  .assistance-windows .assist-right {
    width: 98%;
    margin-left: 1%;}
  .col-icon-footer {
    width: 90%;
    margin: 0 auto 20px 5%;}
  .bottom-text p span{display: inline;}
  .assistance input {
    font-size: 15px!important;}





}
@media screen and (max-width: 350px) {
  .main .owl-carousel .owl-item img {
      display: block;
      width: 131%;
      max-width: 131%;}
  .main .text-wrapper {
      margin: .1em .4em 2em 2.4em;
      text-align: left;
      max-width: 500px;}
  .main .slide-caption {
      top: 65%;
      left: 23%;}
  h1 {
      font-size: 21px;
      line-height: 22px;
      margin: 7px 0;}
  .main .slide-caption {
      top: 53%;
      left: 23%;}
  .main p {
      color: #797876;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0;
      width: 95%;}
  .col-type {
      margin-top: 10px;
      padding: 0 12px;}
  .icon-partner {
      min-height: 80px;
      line-height: 40px;}
  .box-order, .box-order:nth-child(3n+1), .box-order:nth-child(2n+1) {
      width: 90%;}
  .icon-partner {
      width: 100%;
      height: auto;
      min-height: 90px;
      line-height: 45px;
      justify-content: center;}
  .box-manufacturers img {
      max-width: 112px;}
  .news-item {
      padding: 25px 15px;
      margin-bottom: 15px;}
  .news-item h5 {
      color: #333;
      font-size: 17px;
      line-height: 23px;
      letter-spacing: 0;}
  .counters .counter-text {
    margin-bottom: 20px;
    font-size: 16px;
    max-width: 100%;
    line-height: 20px;
    text-align: center;}
  .counter-item {
    margin-bottom: 8px;
    text-align: center;}
  .counters {
    background-position: top;
    background-size: cover;}
  .counters .cover_block {
    padding: 39px 0 34px;}
  .assistance blockquote h5 {
    line-height: 29px;
    font-size: 27px;
    margin-bottom: 10px;}
  .plastic-page .main-page h1 {
    margin-top: 35px; margin-bottom: 15px;}
  .plastic-page .bottom-text {
    margin: 20px auto 0;
    padding: 0 10px;}
  .col-img-about {
    margin-bottom: 20px;
    width: 90%;
    margin: 0 auto 17px 5%;}
  .about .col-img-about h6 {
    font-size: 16px;
    margin-top: 10px;}
  .plastic-order .center-img {
    margin: 0 auto 20px;
    text-align: center;
    min-height: 130px;
    max-width: 190px;}
  .box-order h4 a, .box-order h4 {
    font-size: 19px;
    line-height: 25px;}
  .more-information .btn-more {
    margin-top: 17px;
    padding: 17px 31px;
    font-size: 14px;
    letter-spacing: .3px;}
  .col-text-information {
    text-align: left;
    padding-left: 17px;}
  .more-information h2 {
    margin-bottom: 13px;
    font-size: 22px;
    line-height: 29px;}
  .new-windows .col__step-text {
    width: 100%;}
  .plastic-page .new-windows .col__step-text p {
    max-width: 97%;
    font-size: 16px;
    line-height: 21px;}
  .new-windows .col__step-text {
    overflow: hidden;
    padding: 25px 7px 29px 17px;}
  .assistance-windows h5 {
    font-size: 24px;
    line-height: 27px;
    margin-top: 20px;}
  .assistance-windows .assist-left p {
    font-size: 16px;
    color: #464646;}
  .assist-right {
    padding: 14px 9px 28px 9px;}
  .assistance input[type=submit] {
    font-size: 14px;
    padding: 10px;}
  .box-icon {
    padding: 31px 12px 32px 14px;}












}
@media screen and (max-width: 320px) {
  .col-type {
      margin-top: 12px;
      padding: 0 12px;
      flex-basis: 100%;
      min-height: auto;}
  .main .slide-caption {
      top: 53%;
      left: 26%;
      width: 70%;}
  h1 {
      font-size: 20px;
      line-height: 22px;
      margin: 3px 0;}
  .slide-caption button {
      margin-top: 5px;
      font-size: 13px;
      letter-spacing: 0;
      padding: 5px 17px 5px 0;
      text-transform: none;
      border: none;}
  .about .btn-about {
      margin-top: 12px;
      padding: 12px 25px;
      font-size: 12px;}
  .box-order, .box-order:nth-child(3n+1), .box-order:nth-child(2n+1) {
      width: 98%;}
  .menu-footer {
      width: 95%;
      padding-left: 0;
      text-align: center;}
  .footer-top .choice p {
      width: 90%;
      margin: 0 auto;}
  address{font-size: 14px;}
  .rights {
      color: #B2CFD8;
      font-size: 13px;
      line-height: 1;
      padding: 0;
      letter-spacing: 0;
      margin: 0;}
  .col__step-text p {
    max-width: 95%;
    font-size: 15px;
    line-height: 19px;}
  .col__step-text {
      overflow: hidden;
      padding: 24px 0 35px 25px;
      width: 100%;}
  .col__step:nth-child(2n+1),
  .col__step:nth-child(2n),
  .col__step:nth-child(3n),
  .col__step:nth-child(3n+1),
  .col__step{
    background-image: none!important;}
  .warranty .right-img img {
    max-width: 95%;}
  .years-warranty {
    right: 12px;
    top: -29px;
    width: 100px;
    height: 100px;}
  .col__step-text {
    overflow: hidden;
    padding: 24px 7px 35px 7px;
    width: 100%;}
  .text-wrap .btn {
    padding: 14px 20px;}












}
@media screen and (max-width: 280px) {
  .col__step-text h4 {
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;}
  .box-order-wh .box-order:nth-child(3n+1),
  .box-order-wh .box-order:nth-child(2n+1),
  .box-order-wh .box-order {
    width: 96%;
    margin-right: 0;
    max-width: 100%;
    margin: 1px auto 20px 2%;
    min-height: 250px;
    background-size: 58%;
    background-position: 124%;}
  .indikator {
    margin-bottom: 11px;}
  .assistance blockquote h5 {
    line-height: 26px;
    font-size: 24px;
    margin-bottom: 10px;}
  .assistance .policy .checkbox-text a,
  .assistance .policy .checkbox-text {
      color: #b0b0b0;
      margin-left: 0;
      font-size: 11px;}
  .assistance .policy .checkbox-text{
    margin-left: 6px;}
  .heat img {
      max-width: 99%;}
  .heat h2 {
      max-width: 98%;
      text-align: center;
      margin: 0 auto 15px;
      line-height: 24px;
      font-size: 20px;}
  .assistance-windows .assist-right {
    width: 100%;
    margin-left: 0;}
  .assist-right {
    padding: 14px 3px 28px 2px;}
  .assistance-windows input {
    padding: 14px 10px;
    min-height: 45px;
    font-size: 12px;
    max-width: 100%;
    margin: 0 auto 12px;}
  .assistance input {
    font-size: 14px!important;}
  .icons-footer .box-icon h6 {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2px;}






}
@media screen and (max-width: 411px) and (max-height: 836px){
  .main .slide-caption {
      top: 50%;
      left: 8%;}


}


@media screen and (max-width: 414px) and (max-height: 736px){
  .main .slide-caption {
      top: 50%;
      left: 8%;}


}

@media screen and (max-width: 375px) and (max-height: 812px){
  .main .slide-caption {
      top: 53%;
      left: 5%;}


}

@media screen and (max-width: 320px) and (max-height: 568px){
  .main .slide-caption {
      top: 53%;
      left: 26%;}


}












